:javascript
  // Update Step Button
  $(document).ready(function(){

      $(".update_step").click(function(){
      $.ajax({
           type: 'PATCH',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/day_passes/' + this.getAttribute('day_pass_id') + '/steps/' + this.id,
           data: $('#step_form_' + this.id).serialize(), 
           success: function(response) {
             location.reload();
           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });

  // Delete Step Button
  $(document).ready(function(){

      $(".delete_step").click(function(){
      $.ajax({
           type: 'DELETE',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/day_passes/' + this.getAttribute('day_pass_id') + '/steps/' + this.id,
           data: $('#step_form_' + this.id).serialize(), 
           success: function(response) {
             location.reload();

           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });

  // Create New Step
  $(document).ready(function(){

      $(".create_new_step").click(function(){
      $.ajax({
           type: 'POST',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/day_passes/' + this.getAttribute('day_pass_id') + '/steps/',
           data: $('#new_step_form_' + this.getAttribute('day_pass_id')).serialize(), 
           success: function(response) {
             console.log('success');
             location.reload();
           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });