%header
  %center
    %h1
      ="Edit " + @city.name

// CITY DETAILS FORM

%div.row
  %div.col-md-2
  %div.col-md-8
    %h2
      City Details
    .panel
      .panel-body.edit-page-panel
        =form_tag(city_path, id: 'city_details_form', method: "patch") do 
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Name"
            %div.col-md-8   
              %input{:type => "string", :name => 'name', :value => @city.name, :style=>"width:100%;", :maxlength => "100"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Note"
            %div.col-md-8   
              %textarea{:type => "text", :name => 'note', :value => @city.note, :style=>"width:100%;", :maxlength => "1000"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Image URL"
            %div.col-md-8   
              %input{:type => "string", :name => 'image_url', :value => @city.image_url, :style=>"width:100%;", :maxlength => "200"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Font Color Hex"
            %div.col-md-8   
              %input{:type => "string", :name => 'font_color_hex', :value => @city.font_color_hex, :style=>"width:100%;", :maxlength => "100"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Card Name"
            %div.col-md-8   
              %input{:type => "string", :name => 'card_name', :value => @city.card_name, :style=>"width:100%;", :maxlength => "100"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Map URL"
            %div.col-md-8   
              %input{:type => "string", :name => 'map_url', :value => @city.map_url, :style=>"width:100%;", :maxlength => "200"}

%div.row
  %center
    %a.btn.btn-dark.btn-lg{id: 'update_city_details'} Update City Details

// FARE FORM

%div.row
  %div.col-md-2
  %div.col-md-8
    %h2
      1-Way Fare
    .panel
      .panel-body.edit-page-panel
        =form_tag(city_path, id: 'fare_form', method: "patch") do 
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Single Trip Fare"
            %div.col-md-8   
              %input{:type => "float", :name => 'fare', :value => (@city.fare.present? ? @city.fare.cost : ""), :style=>"width:100%;", :maxlength => "200"}


%div.row
  %center
    %a.btn.btn-dark.btn-lg{id: 'update_fare'} Update Fare

// DAY PASSES CLUB
%div.row
  %div.col-md-2
  %div.col-md-8
    %h2
      Day Passes

-@city.day_passes.each do |day_pass|
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h3
        =day_pass.days.to_s + '-Day Pass'
      .panel  
        .panel-body.edit-page-panel
          =form_tag(city_path, id: 'day_pass_form_' + day_pass.id.to_s, method: "patch") do 
            %div.row
              %div.col-md-4
                %strong{:style => "font-size:20px"}
                  ="Cost of Pass"
              %div.col-md-8   
                %input{:type => "float", :name => 'cost', :value => day_pass.cost, :style=>"width:100%;", :maxlength => "200"}
            %div.row
              %div.col-md-4
                %strong{:style => "font-size:20px"}
                  ="Number of Days"
              %div.col-md-8   
                %input{:type => "integer", :name => 'days', :value => day_pass.days, :style=>"width:100%;", :maxlength => "200"}

  %div.row
    %center
      %a.btn.btn-dark.btn-lg.update_day_pass{id: day_pass.id} 
        ="Update " + day_pass.days.to_s + "-Day Pass"

%br
%br
%div.row
  %div.col-md-2
  %div.col-md-8
    %h3
      ='Create New Day Pass'
    .panel  
      .panel-body.edit-page-panel
        =form_tag(city_path, id: 'new_day_pass_form', method: "post") do 
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Cost of Pass"
            %div.col-md-8   
              %input{:type => "float", :name => 'cost', :value => "", :style=>"width:100%;", :maxlength => "200"}
          %div.row
            %div.col-md-4
              %strong{:style => "font-size:20px"}
                ="Number of Days"
            %div.col-md-8   
              %input{:type => "integer", :name => 'days', :value => "", :style=>"width:100%;", :maxlength => "200"}
%div.row
  %center
    %a.btn.btn-dark.btn-lg{id: 'create_new_day_pass'} 
      ="Create"
%br

:javascript 

  // Update City Details Button
  $(document).ready(function(){

      $("#update_city_details").click(function(){
      $.ajax({
           type: 'PATCH',
           url: '#{root_url}' + 'cities/' + '#{@city.id}',
           data: $('#city_details_form').serialize(), 
           success: function(response) {
             console.log('success');

           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });

  // Update City Fare Button
  $(document).ready(function(){

      $("#update_fare").click(function(){
      $.ajax({
           type: 'PATCH',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/update_fare',
           data: $('#fare_form').serialize(), 
           success: function(response) {
            console.log('success');

           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });

  // Update Day Pass Button
  $(document).ready(function(){

      $(".update_day_pass").click(function(){
      $.ajax({
           type: 'PATCH',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/day_passes/' + this.id,
           data: $('#day_pass_form_' + this.id).serialize(), 
           success: function(response) {
             console.log('success');

           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });

  // Create New Day Pass Button
  $(document).ready(function(){

      $("#create_new_day_pass").click(function(){
      $.ajax({
           type: 'POST',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/day_passes/',
           data: $('#new_day_pass_form').serialize(), 
           success: function(response) {
             console.log('success');
             location.reload();
           },
          error: function() {
              alert("There was an error submitting.");
          }
      });
    });
  });