/ Header
%header#top.city-header{style: "background-image: url(#{@city.image_url})"}
  .text-vertical-center
    %h1{style: "color: #{@city.font_color_hex}"}
      =@city.name
    .row
      %h3
        %div.col-md-3
        %div.col-md-6
          .panel
            .panel-body.translucent-panel
              =form_tag(best_fare_city_path, id: 'best_fare_form', method: "get") do 
                %div.row
                  %div.col-md-12
                    %strong{:style => "font-size:25px; color: #{@city.font_color_hex};"}
                      ="How many days will you be visiting " + @city.name + "?"
                %div.row
                  %div.col-md-5
                  %div.col-md-2   
                    %input{:type => "number", :min => 1, :name => 'days', :value => 1, :style=>"width:100%;", :maxlength => "100"}
                %div.row
                  %div.col-md-12
                    %strong{:style => "font-size:25px; color: #{@city.font_color_hex}"}
                      ="Approximately, how many transit trips do you expect to take?"
                %div.row
                  %div.col-md-5
                  %div.col-md-2   
                    %input{:type => "number", :name => 'trips', :value => 2, :style=>"width:100%;", :maxlength => "100"}
             
        %div.col-md-3
    .row
      %a.btn.btn-dark.btn-lg{:href => '#about', id: 'submit_best_fare'} Submit

/ About
%section#about.about
  .container.initially-hidden
    .row
      .col-lg-12.text-center
        %h2#method_text
          ="Complete the form above to find your best fare option for visiting " + @city.name + '.'
        %p.lead#cost_text
    / /.row
  / /.container
/ Services
/ The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
%section.steps-section#services.bg-primary.initially-hidden
  .container
    .row.text-center#steps
      .col-lg-10.col-lg-offset-1
        %h2 This section will contain a step-by-step guide to using the fare machines
        %hr.small
          .row
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-cloud.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-compass.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-flask.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-shield.fa-stack-1x.text-primary
                %h4
                  %strong Service Name
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %a.btn.btn-light{:href => "#"} Learn More
          / /.row (nested)
      / /.col-lg-10
    / /.row
  / /.container
/ Callout
%section.map-section
  %h1
    ="System Map for " + @city.name.to_s
  =image_tag @city.map_url

%aside.call-to-action.bg-primary
  .container
    .row
      .col-lg-12.text-center
        %h1  
          ="Fare Information for " + @city.name.to_s
        %div.row
          .col-lg-4
          .col-lg-4.text-center.large-normal
            %center
              %div.row
                .col-lg-7
                  Avg 1-Way Fare*
                .col-lg-5
                  =@city.fare.as_currency

              -@city.day_passes.each do |day_pass|
                %div.row
                  .col-lg-7
                    =day_pass.days.to_s + "-Day Pass"
                  .col-lg-5
                    =day_pass.as_currency
        %div.row.center
          *1-Way fare may vary based on location and mode.  This is intended to be an estimate.

        //%a.btn.btn-lg.btn-light{:href => "#"} Click Me!
        //%a.btn.btn-lg.btn-dark{:href => "#"} Look at Me!
/ Footer
%footer.hidden
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong Farezy
        %p
          3481 Melrose Place
          %br Beverly Hills, CA 90210
        %ul.list-unstyled
          %li
            %i.fa.fa-phone.fa-fw
            (123) 456-7890
          %li
            %i.fa.fa-envelope-o.fa-fw
            %a{:href => "mailto:name@example.com"} name@example.com
        %br
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook.fa-fw.fa-3x
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter.fa-fw.fa-3x
            %li
              %a{:href => "#"}
                %i.fa.fa-dribbble.fa-fw.fa-3x
          %hr.small
            %p.text-muted Copyright &copy; Your Website 2014

:javascript 

  $(document).ready(function(){

      $("#submit_best_fare").click(function(){
      $.ajax({
           type: 'GET',
           url: '#{root_url}' + 'cities/' + '#{@city.id}' + '/best_fare',
           data: $('#best_fare_form').serialize(), 
           success: function(response) {
              $("#method_text").text(response['method_text']);
              $("#cost_text").text(response['cost_text']);
              $(".initially-hidden").show();

              task = response['task'];
              if (task == null){
                steps = [];
                html_content = "No information is available to assist with this task." 
              }else{
                html_content = "<h1>How do I do that?</h1>" 
                steps = task['steps'];
              }
              
              for(var i = 0; i < steps.length; i++) {
                html_content += "<h2> Step " + steps[i]['index'] + " "
                html_content += steps[i]['title'];
                html_content += "</h2>"
                html_content += steps[i]['body'];
              };

              $("#steps").html(html_content);


           },
          error: function() {
               //$("#commentList").append($("#name").val() + "<br/>" + $("#body").val());
              alert("There was an error submitting comment");
          }
      });
    });
  });



    
